@import "src/theme";

.language {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.option {
  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
    color: $brand-primary;
    text-decoration: underline;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
