<p translate>LANG_KEY</p>
<div class="language">
  <a [class.disabled]="selectedLanguage === Languages.en"
     (click)="changeLanguage(Languages.en)"
     class="option">
    🏴󠁧󠁢󠁥󠁮󠁧󠁿
    <span
      [class.active]="selectedLanguage === Languages.en"
      class="info-text"

      translate
    >EN_KEY</span></a>
  <a [class.disabled]="selectedLanguage === Languages.es"
    (click)="changeLanguage(Languages.es)"
     class="option">
    🇪🇸
    <span
      [class.active]="selectedLanguage === Languages.es"
      class="info-text"
      translate
    >ES_KEY</span>
  </a>
</div>
