<div class="row clearfix wrapper">
  <div class="form">
    <form
      name="form"
      [formGroup]="loginForm"
      [ngClass]="{
        'submitted': submitted,
        'wrong-credentials': wrongCredentials
        }"
      (ngSubmit)="loginForm.valid && login()"
      novalidate
    >

      <div class="grey rel">
        <div class="form-group form-border rel">
          <input
            type="text"
            class="form-control"
            formControlName="login"
            [placeholder]="'Login'"
          >
        </div>
        <div class="form-group form-border rel">
          <div class="pass-wrp">
            <input
              class="form-control"
              type="password"
              formControlName="password"
              [placeholder]="'Password'"
              autocomplete="false"
            >
          </div>
        </div>
        <div class="help-block" *ngIf="wrongCredentials"><span class="error" translate>WRONG_CREDENTIALS_KEY</span></div>
      </div>
      <div class="form-footer">
        <button class="btn btn-secondary">
          <span translate>LOGIN_KEY</span>
        </button>
      </div>
    </form>
  </div>
</div>
