@import "src/theme";

.form {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-footer {
    .btn {
      width: 100%;
    }
  }
}
.help-block {
  position: absolute;
  bottom: -20px;
}

form {
  .form-group {
    margin-bottom: 20px;

    input.ng-touched.ng-invalid {
      border: 1px solid $brand-red !important;

      &+.help-block {
        display: block;

        .error {
          color: $brand-red;
        }
      }
    }
  }

  &.wrong-credentials {
    input {
      border: 1px solid $brand-red !important;
    }
    > .grey > .help-block {
      display: block;

      .error {
        color: $brand-red;
      }
    }
  }

  &.submitted {
    .form-group {
      input.ng-invalid {
        border: 1px solid $brand-red !important;

        &+.help-block {
          display: block;

          .error {
            color: $brand-red;
          }

        }
      }
    }
  }
}
