@import "src/theme";

.cameras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .camera {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    width: 300px;
    height: auto;

    .img-fluid {
      width: 100%;
    }

    label, .status {
      position: absolute;
      top: 5px;
    }

    label {
      //color: $brand-white;
      left: 5px;
    }

    .status {
      right: 5px;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: inline-block;
      background-color: $brand-green;


      &.offline {
        background-color: $brand-red;
      }
    }

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
