<div class="wrapper">

  <div *ngIf="false else Cameras" class="loader">
    <span>loader</span>
  </div>

  <ng-template #Cameras>
    <label *ngIf="cameras?.length">
      <span translate>CURR_KEY</span>
      <b> {{cameras?.length}} </b>
      <span translate>CAPTURING_KEY</span>
    </label>
    <div class="cameras" *ngIf="cameras?.length else NoData">

      <div (click)="navigate(camera.id)" *ngFor="let camera of cameras" class="camera">
        <span class="status" [class.offline]="camera.status == 'offline'"></span>
        <img class="img-fluid" [src]="camera.picturePreview">
        <label><span translate>CAMERA_KEY</span> {{camera.id}} {{camera.status === 'offline' ? 'fail' : 'pass'}}</label>
      </div>
    </div>

    <ng-template #NoData>
      <span translate>NO_CAMS_KEY</span>
    </ng-template>
  </ng-template>

</div>
