@import "src/theme";

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  margin: 0 -15px 15px -15px;
  justify-content: space-between;
  padding: 15px;
  z-index: 1000;

  .left {
    display: flex;
  }

  img {
    margin: 0 16px;
  }

  .nav-link {
    color: #fff;
    transition: 0.4s;

    &:hover {
      color: $brand-primary;
    }

    &.active {
      font-weight: bold;
      color: $brand-primary;
      border-bottom: 1px solid $brand-primary;
    }
  }
}
